# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Poetry virtual environment (if created inside the project)
.venv/

# env file
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyCharm / VSCode / other editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MyPy / Pyre type checker
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Profiling data
.prof

# OS-specific files
.DS_Store
Thumbs.db

# Poetry-specific files
poetry.lock
